<h2 mat-dialog-title>Détails de la campagne: <strong>{{ campaign?.name }}</strong></h2>

<mat-dialog-content>

  <div class="mt-4 grid grid-flow-col gap-4 grid-row-2">
    <div class="text-2xl font-bold">
      infos
    </div>
    <div>
      <div class="mt-6">
        <h2 class="text-xl">Editez le contenu de votre campagne</h2>

        <div id="editor-container" class="h-full"></div>

        <!--        <email-editor-->
        <!--          [options]="options"-->
        <!--          [scriptUrl]="scriptUrl"-->
        <!--          (loaded)="editorLoaded()"-->
        <!--          (ready)="editorReady()"-->
        <!--        ></email-editor>-->
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()" mat-raised-button>Annuler</button>
</mat-dialog-actions>
