<div class="mb-8">
  <a mat-raised-button routerLink="/newsletters">
    <mat-icon aria-hidden="false" aria-label="Retourner sur la page des newsletters" class="px-0 mx-0"
              fontIcon="arrow_back"></mat-icon>
  </a>
</div>

<div class="grid grid-flow-col gap-4 grid-row-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Informations sur la newsletter
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Coucou
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Liste des campagnes attachées
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Coucou
    </mat-card-content>
  </mat-card>

</div>
