<div class="editor-container">
  <!-- Zone éditeur -->
  <div class="w-5/6">

    <h1 class="editor-title">Éditeur</h1>

  </div>

  <!-- Zone bibliothèque -->
  <div class="w-1/6 bg-gray-50">
    <h1 class="editor-title">Bibliothèque</h1>

    <div class="grid grid-cols-2 gap-4 p-4">
      <div
        class="editor-block">
        <mat-icon aria-hidden="false" aria-label="Texte" fontIcon="titlecase"></mat-icon>
        <p>Titre</p>
      </div>
      <div
        class="editor-block">
        <mat-icon aria-hidden="false" aria-label="Liste" fontIcon="toc"></mat-icon>
        <p>Texte</p>
      </div>
      <div
        class="editor-block">
        <mat-icon aria-hidden="false" aria-label="Image" fontIcon="image"></mat-icon>
        <p>Image</p>
      </div>
      <div
        class="editor-block">
        <mat-icon aria-hidden="false" aria-label="Lien" fontIcon="link"></mat-icon>
        <p>Lien</p>
      </div>
      <div
        class="editor-block">
        <mat-icon aria-hidden="false" aria-label="Lien" fontIcon="horizontal_rule"></mat-icon>
        <p>Séparateur</p>
      </div>
    </div>
  </div>
</div>
