<div class="flex flex-col gap-3 py-4 max-w-md">
  <div [ngClass]="classes" role="status" aria-live="polite">
    <mat-icon aria-hidden="false" aria-label="Example home icon" [ngClass]="iconColor" [fontIcon]="icon"></mat-icon>
    <div class="flex-1">
      <ng-container *ngIf="title; else onlyMessage">
        <strong class="block font-medium">{{ title }}</strong>
        <p class="text-sm">{{ message }}</p>
      </ng-container>
      <ng-template #onlyMessage>
        <p class="text-sm font-medium">{{ message }}</p>
      </ng-template>
      <ng-content></ng-content>
    </div>
  </div>
</div>
