@use '@angular/material' as mat;
@use 'variables' as *;
@use 'theme-colors' as myTheme;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: myTheme.$primary-palette,
    tertiary: myTheme.$tertiary-palette
  ),
));

@import "tailwindcss";

app-alert {
  display: flex;
  justify-content: center;
}

html, body {
  @include mat.all-component-themes($theme);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  margin: 0 0 !important;
  padding: 0 0 !important;
}

/* Base */
.mat-mdc-snack-bar-container.toast .mdc-snackbar__surface {
  border-radius: 12px;
  box-shadow: var(--mat-elevation-4, 0 2px 8px rgba(0, 0, 0, .2));
  padding: 8px 16px;
  min-height: 44px;
}

/* Typo et contraste */
.mat-mdc-snack-bar-container.toast .mdc-snackbar__label {
  font-weight: 500;
}

/* Variantes (couleurs douces façon M3) */
.mat-mdc-snack-bar-container.toast.toast--info .mdc-snackbar__surface {
  color: white;
  background: $info;
}

.mat-mdc-snack-bar-container.toast.toast--success.mdc-snackbar .mdc-snackbar__label {
  font-weight: 600;
}

/* optionnel */

.mat-mdc-snack-bar-container.toast.toast--success .mdc-snackbar__surface {
  color: white;
  background: $success;
}

.mat-mdc-snack-bar-container.toast.toast--warning .mdc-snackbar__surface {
  color: white;
  background: $warning;
}

.mat-mdc-snack-bar-container.toast.toast--error .mdc-snackbar__surface {
  color: white;
  background: $error;
}

.mat-mdc-snack-bar-action {
  color: white;
}

/* Bouton d'action */
.mat-mdc-snack-bar-container.toast .mdc-button__label {
  font-weight: 600;
}

.mat-mdc-list-item-unscoped-content {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

mat-card-header {
  display: block !important;
}

.text-info {
  color: $info;
}
